<div style="padding: 60px;">
    <table>
        <tbody><tr>
          <td><b>School Name : <span style="color: hsl(195, 31%, 54%);">{{orgname}} </span></b></td>
          <td><b>Affidavit Number : <span style="color: hsl(195, 31%, 54%);">{{affidiateno}}</span></b></td> 
         
          </tr>
          <tr>
            <td><b>School Address : <span style="color: hsl(195, 31%, 54%);">{{orgaddress}}</span></b></td>
            <td><b>Board : <span style="color: hsl(195, 31%, 54%);">{{board}}</span></b></td>
            
            </tr>
            <tr>
                <td><b>Email : <span style="color: hsl(195, 31%, 54%);">{{orgemail}}</span></b></td>
                <td><b>Contact : <span style="color: hsl(195, 31%, 54%);">{{contact}} , {{contact2}}</span></b></td>
                
                </tr>
        </tbody>
      </table>
</div>
