table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;   
    
  }
  
  td{
    
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
  }
  thead th { 
    position: sticky; 
    background-color: #DAF7A6;
    overflow: inherit;
    top: 0; 
  } 
  tr:nth-child(even) {
    background-color: #dddddd;

  }
 

.body {
  
  height: 350px;
  overflow: auto;
}

.form-fit
{
  
 margin-top: 2Px;
 margin-bottom: 20Px;
}
