<div class="header-fix"></div>
<div>
    


<ng-container>
  
  
    <div class="container mt-5 add-margin">
        <form novalidate [formGroup]="myForm" (ngSubmit)="onSubmit()">
          
            <div class="form-group mb-3">
                <label><b>Note : Password length should be minimum of 4 chracter and maximum of 10 character .</b></label>
           </div>
             
          <div class="form-group mb-3">
            <label><b><span style="color:red;">*</span></b>Old Password</label>
            <input type="password" class="form-control" id="old" [(ngModel)]="passwordData.old"  maxlength="10" formControlName="old" required/>
          </div>
          <div class="form-group mb-3">
            <label><b><span style="color:red;">*</span></b>New Password</label>
            <input type="password" class="form-control" id="new" [(ngModel)]="passwordData.new" maxlength="10" formControlName="new" required/>
          </div>
          <div class="form-group mb-3">
            <label><b><span style="color:red;">*</span></b>Confirm Password</label>
            <input type="password" class="form-control" id="confirm" [(ngModel)]="passwordData.confirm" maxlength="10" formControlName="confirm" required/>
          </div>
            
            
          
          <div class="form-group mb-3">
            <button class="btn btn-secondary">Submit</button>&nbsp;&nbsp;
           
          </div>
        </form>
      </div>

</ng-container>
</div>


