<div class="row">
    <div class="col-8">
      <!--{{studentId}}-->
        <label>Student Photo</label>
      <label class="btn btn-default p-0">
        <input type="file" (change)="selectFile($event)" />
      </label>
    </div>
  
    <div class="col-4">
      <button class="btn btn-secondary" [disabled]="!currentFile" (click)="upload()">
        Upload
      </button>&nbsp;&nbsp;
      <button class="btn btn-secondary" (click)="back()">
        Back
      </button>
    </div>
  </div>
  
  @if (message) {
  <div class="alert alert-secondary" role="alert">{{ message }}</div>
  }
  
  